*{
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.hero{
    background-image: url('cow3.jpg');
    height: 100vh;
    background-size: cover;
    background-position:bottom center;
    /* background-repeat: no-repeat; */
    clip-path: polygon(0 0, 100% 0,100% 83%,46, 100%,0 81%);
}
.hero h1{
    color: linen;
    font-size: 100px;
    text-align: center;
    font-weight: 700;
    padding-top: 60px;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 4px;
    letter-spacing: 5px;
}
.article,#cow-type{
    width: 80% ; 
    margin: 60px auto ;
    border: 15px solid yellow;
    padding: 60px;
    background-color: rgb(69, 241, 241);
}
.article h2, #cow-type h2{
    text-align: center;
    font-size: 48px;
    border-bottom: 5px solid yellow;
    padding-bottom: 15px;
    margin-bottom: 15px;
    background: linear-gradient(pink,rgb(112,122,244));
}
.article p{
    font-size: 24px;
    line-height: 2em;
}
.cow-images{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.cow-images div{
    min-width: 300px;
  
    
}
.cow-images img{
    width: 100%;
}